.about, .example {
	height: 100vh;
	overflow-y: auto;
}

.about, .example .main {
	//height: 100%;
	width: 100%;
	//overflow-y: auto;
}

.about {
	background-color: white;
}

.about > div {
	height: 100%;
	margin: auto;
	display: table;
	padding: 30px;
}

.about > div > div {
	display: table-cell;
	vertical-align: middle;
}

@media all and (max-width: 639px) {
	.about, .example {
		height: 100%;
	}

	.about {
		font-size: 75%;
	}
}

@media all and (max-width: 1278px) {
	.classic .vcard h1.name {
		margin-top: 15px;
	}

	.classic .main, body.classic.dark .main {
		max-width: 300px;
	}
}
